*.o
*.so
*.a
*.bak
!libethercat-cpp.so
!bootstrap.o
!bootstrap-pic.o
!libcopperplate.so
!libcopperplate.a
!libmodechk.so
!libmodechk.a
!libqiuniu.so
!libqiuniu.a
!libxerces-c-3.2.so
build/*